body {
    margin: 0px;
    font-family: "open sans";
}

#widget_container {
    background-color: #F7F7F7;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.city_search {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    height: 55px;
}

.widget_card {
    width: 100%;
    min-height: 380px;
    max-width: 640px;
    background-image: linear-gradient(to bottom, rgba(#2C4159, .85), rgba(#2C4159, .85)), url(../images/city_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 5px 28px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.15);
    user-select: none;

    &__top {
        min-height: 280px;
        width: 100%;
        padding: 25px;
        max-width: 640px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__placeDate {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__place {

                &__top_city {
                    &__city {
                        font-weight: 400;
                    }
    
                    &__country {
                        font-weight: 700;
                    }
                }

                &__bottom_weather {
                    font-size: 12px;
                    font-weight: 300;
                    margin-top: 10px;
                    color: #eee;
                }
                
            }

            &__date {
                font-family: "montserrat";
                font-weight: 600;
                font-size: 14px;
            }
        }

        &__temp_c {
            font-size: 65px;
            font-weight: 700;

            .wi {
                font-size: 35px;
                position: relative;
                top: -8px;
            }
        }

        &__temp_f {
            font-size: 22px;
            font-weight: 600;
        }
    }

    &__bottom {
        height: 100px;
        width: 100%;
        background: #fff;
        display: flex;
        padding: 0 25px;
        box-sizing: border-box;

        &__hourly_temp_div {

            width: 25%;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100px !important;
            outline: none !important;

            &__time {
                font-size: 12px;
                margin-bottom: 10px;
            }
            &__weather {
                display: flex;
                align-items: center;
                &__text {
                    font-size: 12px;
                    margin-right: 5px;
                }
                &__icon {
                    font-size: 25px;

                    &.sunny_icon {
                        color: #ff9800;
                    }
                }
            }
        }

        .arrow_left, .arrow_right {
            position: absolute;
            top: 0;
            z-index: 10000;
            cursor: pointer;
            height: 100px;
            display: flex;
            align-items: center;
            width: 40px;
            justify-content: center;
        }
        .arrow_left {
            left: 0px;
        }
        .arrow_right {
            right: 0px;
        }
    }
}